@import url("http://fonts.googleapis.com/css2?family=Muli&display=swap");
* {
    box-sizing: border-box;
}
body {
    font-family: "Muli",sans-serif;
    background-color: #aa96da;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.container {
    background-color: #393e467d;
   border-left:145px;
    border-radius: 5px;
    width: 50%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container h1 {
 text-align: center;
 margin-bottom: 30px;
}
.container a {
    text-decoration: none;
    color: lightblue;
}
.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: lightblue;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}
.btn:focus {
    outline: 0;
}
.btn:active {
    transform: scale(0.98);
}
.text {
    margin-top: 30px;
}*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body {
  background-image: url('tutorial.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.banner{
	width: 100%;
	height: 100%;
}
.navbar{
	width: 80%;
	margin: auto;
	padding: 30px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin :0 20px;
    position: relative;
}
.navbar ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}
.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: -10;
	transition: 0.2s;
}
.navbar ul li:hover::after{
	width: 100%;

}
.content{
	color: #fff;
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}
.content h1{
	font-size: 70px;
	margin-top: 80px;

}
.content p{
	margin: 20px auto;
	font-weight: 100;
	line-height: 25px;
}
.loop
{
	color:white;
}

button{
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #009688;
	background: transparent;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
span{
	background: #009688;
	height: 100%;
	width: 100%;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
}
.form-control {
    position: relative;
	border-left:center;
	margin-left:140px;
    margin: 20px 0 40px;
    width: 300px;
}
.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
}
.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: lightblue ;
}
.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
}
.form-control label span{
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55,0.265,1.55);
}
.form-control input:focus + label span,
.form-control input:valid + label span{
 color: lightblue;
 transform: translateY(-30pxs);
}